.produk-all {
    margin-top: 20px;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 10px;
}

.navigasi {
    margin-bottom: 10px;
}

.produk-all img {
    border-radius: 10px;
    margin: 10px;
}

.img-slider img {
    margin-right: 20px;
    width: 88px;
    height: 88px;
    float: flex;
}

.slider1 {
    width: 600px;
    height: 100px;
}

.gmbrbesar {
    width: 300px;
    height: 400px;
}

.img-slider {
    width: 300px;
    height: 100px;
    background-color: white;
    overflow: auto;
    border-radius: 10px;
    margin-left: 10px;
}

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 999;
    transition: 1s;
    text-align: center;
    padding: 100px 0;
}

.overlay.open {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
}

.overlay img {
    max-height: 50%;
    box-shadow: rgba(0, 0, 0, .8);
}

.overlay:target img {
    animation: zayyid .5s;
}

.close {
    color: red;
    position: absolute;
}

.harga {
    margin-right: 20px;
}

/* animasi buatan sendiri */
@keyframes zayyid {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

table td {
    width: 150px;
}

.plusminus input {
    width: 50px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.keterangan {
    background-color: white;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.deskripsi {
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.produk-all button {
    margin: 5px;
}

.cover-container:hover {
    cursor: pointer;
}

/* desktop */
@media (min-width: 992px) {
    .overlay img {
        max-height: 100%;
    }
}